//COLORS
$main: #3498db;
$secondary: #808080;

$color: (
	default: #ffffff,
	success: #2ecc71,
	warning: #e67e22,
	danger: #e74c3c
);

$type: [
"default",
"success",
"warning",
"danger"
];
$nb_type: length($type);

$common: (
	radius: 4px,
	color-change: 8%,
	padding: 8px,
	margin: 8px
	);

$btn: (
	shadow-size: 4px,
	shadow-blur: 8px
)
